*{
    margin: 0;
    padding: 0;
    font-family: "Poopins";
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background : #080808;
    color: #fff;
}
/*----------------------------------Home----------------------------------*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-image.jpg); 
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;  
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/*----------------------------------About Me----------------------------------*/
#about{
    padding: 80px 0px;
    color: #ababab;
    /*background-image: url(images/about-backgrond.jpg);*/
}
#about .heading{
    text-align: center;
    font-size: 35px;
    font-weight:600;
    color: #f11515;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;
    padding-left: 40px;
    box-shadow: 10px 10px 3px rgb(92, 90, 90);
}
.about-col-2{
    flex-basis: 60%;
    align-items: center;
	width: 40%;
	padding:10px;
	margin-top: 60px;
}
.about-col-2 p{
	font-size: 20px;
	text-align: justify;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #fcfbfb;
    text-shadow:  2px 1px 2px #776868;
}
/*----------------------------------Skills----------------------------------*/
#skills{
    background-image: url(../images/about-backgrond.jpg); 
    background-size: cover;
    background-position: center;
}
#skills .heading{
    text-align: center;
    font-size: 35px;
    font-weight:600;
    color: #f11515;
}
.container .skills-list {
	margin-top: 5px;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.container .skills-list img{
    align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
	margin: 30px auto;
	box-shadow: 0px 0px 6px 3px gray;
}
.container .skills-list img:hover{
	box-shadow: 0px 0px 6px 7px gray;
	transform: scale(1.1,1.1);
	transition: all .2s ease-out;
}
/*----------------------------------Services----------------------------------*/
#services{
    padding: 30px 0;
    background-image: url(../images/services-backgrond.jpg); 
    background-size: cover;
    background-position: center;
}
#services .heading{
    text-align: center;
    font-size: 25px;
    font-weight:600;
    color: #f11515;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.2s, transform 0.2s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 26px;
    font-weight: 500
    margin-bottom: 20px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ffffff;
    color: #000000;
    transform: translateY(-10px);
}
/*----------------------------------Portfolio----------------------------------*/
#portfolio{
    padding: 50px 0 ;
    background-image: url(../images/projects-backgrond.jpg); 
    background-size: cover;
    background-position: center;
}
#portfolio .heading{
    text-align: center;
    font-size: 35px;
    font-weight:600;
    color: #f11515;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    display: block;
    transition: transform 0.2s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 100%;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.projects .project .layer .website-link{
	background-color: #fff;
	color: #000;
	text-decoration: none;
	padding: 8px;
	margin: 10px;
	width: fit-content;
}
.projects .project .layer .website-link:hover{
	background-color: #f4af1b;
	transition: all .1s ease-in;
	color: #fff;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color : #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*----------------------------------Contact----------------------------------*/
#contact{
    padding: 80px 0 ;
    background-image: url(../images/contact-backgrond.jpg); 
    background-size: cover;
    background-position: center;
}
#contact .heading{
    font-size: 25px;
    font-weight:600;
    color: #fff;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 25px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transfer 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*----------------------------------Copyright----------------------------------*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: fixed #262626;
    font-weight: 300;
    margin-top: 30px;
}
/*----------------------------------Responsive----------------------------------*/
nav .fas{
    display: none;
}
@media screen and (max-width: 425px) {
    #header{
        background-color: #fff;
        background-image: url(../images/phone-background-image.jpg)
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 50px;
        z-index: 2;
        transition: right 0.5;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .container .skills-list {
        margin-top: 5px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .container .skills-list img {
		width: 110px;
		height: 110px;
	}
    .about-col-1,{
        flex-basis: 100%;
    }
    .about-col-1 img{
        width: 320px;
        border-radius: 15px;
        padding-left: 40px;
        box-shadow: 10px 10px 3px rgb(92, 90, 90);
    }
    .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 100%;
    }
    .about-col-2 p{
        font-size: 12px;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #fcfbfb;
        text-shadow:  2px 1px 2px #4d4949;
    }
    .contact-left{
        flex-basis: 100%;
    } 
    .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        margin-top: 30px;
        font-size: 18px;
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        text-align: center;
        font-size: 100%;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 5px;
    }
    .projects .project .layer .website-link{
        background-color: #fff;
        color: #000;
        text-decoration: none;
        padding: 8px;
        margin: 10px;
        width: fit-content;
    }
    .projects .project .layer .website-link:hover{
        background-color: #f4af1b;
        transition: all .1s ease-in;
        color: #fff;
    }
    .project:hover img{
        transform: scale(1.1);
    }
    .project:hover .layer{
        height: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}